.home {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    background-color: #64b5f6;
    height: auto;
    padding: 2.6em;
    margin-top: 0.3em;
    align-items: center;
    justify-content: center;
}

#bio-box{

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

#bio-box figure {
    align-self: center;
}

#bio-box article { 
    max-width: 50%;   
  }

#bio-box article h2 {  
    text-align: center 
  }

  #bio-box article h3 {    
    margin-top: 10px;
    font-size: 22px;
    text-align: center 
  }
  
.box {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 1.1em;
    background-color: white;
}

.bio{
  width: 70em;
  height: auto;
}

.bio figure img{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 50%;
}

/* Social */
.social {
    background-color: #760BE8;
    padding: 1em;
}

.social h2{
        font-size: 57px;
        text-align: center;
        padding-top: 18px;
        font-family: 'Poppins', sans-serif;
        color: white;
}

.social nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    padding-bottom: 2em;
}

.social h3{
    color: #fff;
}

.social a h3{
    text-decoration: none;
    text-align: center;
}

.social nav a {
    width: 26%;
}


a:hover h3 {
  color: #8FAAEC;
}


a {
    text-decoration: none;
  }

 
.social a:focus h3 {
    text-decoration: none;
  }

/*  Media Query */
@media(max-width: 798px){
    #bio-box {
        flex-direction: column;
    }

    #bio-box article {
        max-width: 100%;
    }

    .bio {
        width: 70em;
        /* height: 23em; */
    }
    
    #bio-box article h2 {
      margin-top: 15px;
    } 


  .social nav {
    flex-direction: column;
   }

}